*{
    margin:0;
    padding:0; 
    box-sizing: Border-box;
}

:root {
    --test-font-family: 'Raleway';
    --heading-font-family: 'Raleway';
    --font-family: 'Roboto';
    --font-style: 'normal';
    --font-weight: 400;
    --flex-shrink: 0;
}

ul {
    list-style-type: none;
}

.body-font {
    background: #FFF;
    /* box-sizing: border-box; */
    border: #121111;
    width: 1600px;
    height: 2348px;
}

/* header section */

.web-container > h1 {
    color: #2196F3;
    font-size: 26px;
    font-family: var(--heading-font-family);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    border: 1px;
    width: 1600px;
    height: 82px;
    width: 100%;
    align-items: center
}

.box ul {
    /* display: flex; */
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-items: center; */
    width: 400px;
}

.web-container {
    display: flex;
    justify-content: center;
}

.contacts-box {
    display: flex;
    flex-flow: row;
    /* justify-content: space-around; */
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.global-header .box ul {
    display: flex;
}

.content-section {
    font-size: 14px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.global-header {
    display: flex;
    justify-content: space-between;
    border: 1px;
    width: 1600px;
    height: 80px;
    /* flex-shrink: 0; */
    background: #FFF;
    flex-shrink: var(--flex-shrink);
}

.studio-link {
    color: #2196F3;
    width: 42px;
    height: 16px;
    line-height: 16px;
    margin: 0px 50px 0px 0px;
    /* padding: 32px 1105px 32px 453px; */
}

.portofolio-link {
    color: #212121;
    /* width: 58px;
    height: 16px; 
    padding: 32px 997px 32px 545px; */
    line-height: 16px;
    margin: 0px 50px 0px 0px;
}

.contacts-link {
    color: #212121;
    width: 59px;
    height: 16px;
    line-height: 16px;
    margin: 0px 385px 0px 0px;
     /* padding: 32px 888px 32px 653px; */
}

.email-link {
    color: #2196F3;
    /* width: 135px;
    height: 16px; */
    line-height: 16px;
    margin: 0px 40px 0px 0px;
    /* padding: 32px 368px 32px 1097px; */
}

.phone-section {
    color: #757575;
    height: 16px;
    margin: 0px 215px 0px 0px;
    /* padding-right: 215px;
    width: 113px; */
}

.content-section > li > a:hover{
    color: #af1e88;
}

.contacts > a:hover{
    color: #af1e88;
}

.content-section > li > a:focus{
    color: #af1e88;
}

.contacts > a:focus{
    color: #af1e88;
}

/*  first section */

.logo-section {
    box-sizing: border-box;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    background: #2F303A;
    width: 1600px;
    height: 600px;
    flex-shrink: 0;
    
}

.box-logo {
    display: flex;
    line-height: 52px;
    align-items: center;
    margin: 0px 0px 30px 0px;}

.box-button {
    display: flex;
    width: 161px;
    height: 30px;
}

.about-logo {
    color: #FFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* flex-shrink: 0; */
}

.button-service {
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.button-service {
    cursor: pointer;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.request-button {
    width: 161px;
    height: 30px;
    /*  10px 19px 10px 20px; */
    /* padding: 360px 719px 210px 720px;  */
    line-height: 19px;
    /*  margin-top: 40px; */
}

.logo-section > h3 {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-style: 1;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

/*  second section */

.box-objective {
    display: flex;
    width: 1170px;
}

.box-one {
    display: flex;
    margin: 94px 0px 0px 0px;
}

.box-paragraph-one {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 270px;
    height: 75px;
    margin: 10px 30px 0px 0px;
}

.box-objective > ul > li > section {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.box-objective > ul > li {
    display: flex;
}

.box-objective > ul {
    display: flex;
    flex-direction: row;
    margin: 0px 30px 0px 215px;
    justify-content: space-between;
}

.box-two {
    display: flex;
    margin: 94px 0px 0px 0px;
}

.box-paragraph-two {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 270px;
    margin: 10px 30px 0px 0px;
    height: 75px;
}

.box-three {
    display: flex;
    margin: 94px 0px 0px 0px;
}

.box-paragraph-three {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 270px;
    margin: 10px 30px 0px 0px;
    height: 75px;
}

.box-four {
    display: flex;
    margin: 94px 0px 0px 0px;
}

.box-paragraph-four {
    flex-direction: column;
    flex-wrap: wrap;
    width: 270px;
    margin: 10px 30px 0px 0px;
    height: 75px;
}

.info-section {
    background: #FFF;
    width: 1600px;
}

.title-heading {
    display: flex;
    width: 270px;
    flex-direction: column;
    flex-shrink: 0;
    line-height: 16px;   
}

.info-section > ul > li > h6 {
    color: #212121;
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.info-section > ul > li > p {
    color: #757575;
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.box-images {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.box-images > div {
    display: flex;
    width: 198px;
    height: 42px;
    margin: 0px 50px 0px 701px;
}

.box-images > div > h2 {
    display: flex;
}

.box-images > ul {
    width: 1170px;
    margin: 0px 30px 0px 215px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

.info-section > div > h2 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

/*  section 3 */

.title-image {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.box-team,
.title-image > ul {
    display: flex;
    align-items: center;
}

.box-team {
    display: flex;
    box-sizing: border-box;
    /* margin: 94px 717px 0px 0px; */
}

.title-image > ul {
    box-sizing: border-box;
    display: flex;
    width: 1600px;
    align-items: center;
}

.image-one {
    margin: 0px 30px 0px 215px;
}

.image-two {
    margin: 0px 30px 0px 30px;
}

.image-three {
    margin: 0px 30px 0px 30px;
}

.image-four {
    margin: 0px 215px 0px 30px;
}

.title-image {
    width: 1600px;
    height: 648px;
    flex-shrink: 0;
    background: #F5F4FA;
    box-sizing: border-box;
    /*  margin-top: 1449px;
    margin-bottom: 251px; */
}

.title-image > h2 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.title-image > ul > li > span{
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: normal;
    letter-spacing: 0.48px;
}

.title-image > ul > li > em {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: normal;
    letter-spacing: 0.48px;
}

/*  footer section  */

.footer-section {
    color: #2196F3;
    display: flex;
    align-items: start;
    box-sizing: border-box;
    width: 1600px;
    height: 251px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-evenly;
    background: #2F303A;
}

.address-layout {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: baseline;
	align-content: space-between;
    box-sizing: border-box;
    margin-left: 215px;
    width: 231px;
    height: 72px;
    flex-shrink: 0;
}

.box-footer {
    display: flex;
    margin-left: 215px;
}

.phone-footer {
    color: #ffffff99;
    display: flex;
    line-height: 16px;
    width: 231px;
    height: 16px;
    flex-shrink: 0;
}

.box-footer > h2 {
    line-height: 31px;
}

.email-footer {
    display: flex;
    line-height: 16px;
    width: 231px;
    height: 16px;
    flex-direction: column;
    color: #ffffff99;
    flex-shrink: var(--flex-shrink);
}

.address-location {
    flex-shrink: 0;
    color: #FFFFFF;
}

.footer-section > address > a:hover,
.footer-section > address > a:focus{
    color: #af1e88;
}