:root {
    --test-font-family: 'Raleway';
    --heading-font-family: 'Raleway';
    --font-family: 'Roboto';
    --font-style: 'normal';
    --font-weight: 400;
    --flex-shrink: 0;
}

ul {
    list-style-type: none;
}

.body-font{
    font-family: 'Roboto';
    /* color: #fff; */
    /* pentru a vedea marginea */
    margin: 10px 12px;
    border: #121111;
}

.box > h1 {
    color: #2196F3;
    font-size: 26px;
    font-family: var(--heading-font-family);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.content-section {
    font-size: 14px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.global-header {
    border: 1px;
    margin-top: 80px;
}

.studio-link {
    color: #2196F3;
    width: 42px;
    height: 16px;
    padding: 32px 1105px 32px 453px;
}

.portofolio-link {
    color: #212121;
    width: 58px;
    height: 16px;
    padding: 32px 997px 32px 545px;
}

.contacts-link {
    color: #212121;
    width: 59px;
    height: 16px;
    padding: 32px 888px 32px 653px;
}

.email-link {
    color: #2196F3;
    width: 135px;
    height: 16px;
    padding: 32px 368px 32px 1097px;
}

.phone-section {
    color: #757575;
    width: 113px;
    height: 16px;
    padding: 32px 215px 32px 1272px;
}

.global-header {
    background: #FFF;
    flex-shrink: var(--flex-shrink);
}

.content-section > li > a:hover{
    color: #af1e88;
}

.content-section > li > a:focus{
    color: #af1e88;
}

.button-service{
    cursor: pointer;
}

.logo-section > h3 {
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-style: 1;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.logo-section {
    background: #2F303A;
}

.logo-section > button {
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.info-section > ul > li > h6 {
    color: #212121;
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.info-section > ul > li > p {
    color: #757575;
    font-size: 14px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.info-section > h2 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.title-image > h2 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-style: var(--font-style);
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.title-image > ul > li > span{
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: normal;
    letter-spacing: 0.48px;
}

.title-image > ul > li > em {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-style: var(--font-style);
    font-weight: var(--font-weight);
    line-height: normal;
    letter-spacing: 0.48px;
}

.footer-section {
    background: #2F303A;
}

.footer-section {
    color: #2196F3;
}

.footer-section > address > p {
   color: #FFFFFF;
}

.footer-section > address > a,
.email-footer  {
    color: #ffffff99;
    display: flex;
    width: 231px;
    height: 16px;
    flex-direction: column;
    flex-shrink: var(--flex-shrink);
}

.footer-section > address > a:hover,
.footer-section > address > a:focus{
    color: #af1e88;
}